  
*{ /*全ての要素に対する変更*/
    margin:0;
    padding:0;
}

header{
    position:fixed;
    top:0;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:50px;
    background-color:#474a4d;
    z-index:2;
}

.head_title{
    color:#ffffff;
    margin-left: 10%;
}

.link{
    color: #ffffff;
    text-decoration:none;
}

.for_member {
    margin-left: 45%;
    font-size: 20px;
    width: 110px;
    padding-left: 30px;
    color: #ffffff;
    text-decoration: none;
}

.kibousya {
    margin-left: 5%;
    font-size: 20px;
    width: 110px;
    padding-left: 30px;
    color: #ffffff;
    text-decoration: none;
}

.member_introduction {
    margin-left: 75px;
    font-size: 20px;
    width: 110px;
    padding-left: 30px;
    color: #ffffff;
    text-decoration: none;
}

.main {
    display: flex;
    margin: 50px 0 0 0;
    flex-direction: column;
    background-color: #117799;
    height:2000px;
}

.title{
    margin-top: 50px;
    margin-left: 50px;
    color:#ffffff;
    font-size: 50px;

}

a{
    color: #ffffff;
    text-decoration:none;
}

footer{
    height:300px;
    background-color:#000000;
    color: #ffffff;;
}

.foot-title{
    color:#ffffff;
    margin-left: 10px;
}



/* ボタン全体 */
.flowbtn8{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    font-size:30px;
    text-decoration:none;
    transition:.5s;
    }
/* ボタンマウスホバー時のテキスト指定 */
.flowbtn8:hover{
    color:#fff!important;
}
/* アイコンをど真ん中に */
.flowbtn8 i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
/* Twitter */
.flowbtn8.fl_tw2{
    border:solid 2px #55acee;
    color:#55acee;
    background-color: #ffffff;
    
}   
/* Twitterマウスホバー時 */
.flowbtn8.fl_tw2:hover{
    border:solid 2px #ffffff;
    background:#55acee;
}
/* Instagram */
.flowbtn8.insta_btn2 {
    border:solid 2px #c6529a;
    color:#c6529a;
    background-color: #ffffff;
    font-size:35px;
}
/* Instagramマウスホバー時 */
.flowbtn8.insta_btn2:hover{
    border:solid 2px #ffffff;
    background:#c6529a;
}

/* Mail */
.flowbtn8.fl_ma2{
    border:solid 2px #f3981d;
    color:#f3981d;	
    background-color: #ffffff;
    font-size:28px;
}
/* Mailマウスホバー時 */
    .flowbtn8.fl_ma2:hover{
    border:solid 2px #ffffff;
    background:#f3981d;
}
  
/* ボタン全体の位置 */
.sns_btn{
    position: fixed;
    top:700px;
    right:30px;
    display:flex;
    flex-direction: column;
}
